@import "../../assets/styles/mixins";
.calendar__page {
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding: 32px;

    @media (max-width: 768px) {
        padding: 25px 16px;
    }

    .data_file {
        display: grid;
        gap: 30px;
        padding: 20px;
        width: 600px;
        background-color: var(--color-white-0);

        @media (max-width: 768px) {
            max-width: 100%;
        }

        .select_file {
            display: grid;
            grid-template-columns: 30% 70%;
            gap: 10px;
            align-items: center;

            input[type="file"] {
                display: none;
            }
            .uploadBtn {
                color: var(--color-blue-0);
                @include button-style;
            }
        }

        .downloadBtn {
            font-family: "Roboto";
            @include adaptiv-font(16, 12);
            font-weight: 400;
            line-height: 48px;

            color: var(--color-blue-4);
        }
    }
}
